/* Product Styles */
.product {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 20px 0;
}

.product figure {
  width: 300px; /* Fixed width */
  height: 350px; /* Fixed height */ /* Added for uniform height */
  margin-bottom: 20px;
  text-align: center;
  border: 1px solid #ccc;
  padding: 15px;
  border-radius: 2%;
  display: flexbox;
  flex-direction: column; /* Align items vertically */ /* Added for vertical alignment */

  justify-content: space-between; /* Space out content */ /* Added to space elements */
}

.product figure p {
  margin: 10px 0;
}

.product figure img {
  width: 100%; /* Ensure image fills the width */
  height: 150px; /* Fixed height for images */ /* Added for uniform image height */
  object-fit: cover; /* Cover the area without distortion */ /* Added to maintain aspect ratio */
}

.product button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin: 5px;
}

.product button:hover {
  background-color: #0056b3;
}

.product span {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 4px;
  margin: 5px;
}
/* Product Hover Effect */
.product figure:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

tr {
  display: inline;
}
