header {
  background-color: aquamarine;
}

.dropdown ul li {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.dropdown {
  display: none;
}

.login {
  padding: auto;
}
.login:hover .dropdown {
  display: block;
}
